/* Melhor importar fontes no html */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter';
	user-select: none;

	/* Como a maior parte do texto do site é branco já define o branco como a cor base */
	color: #fff;
}

body {
	/* Flex simplifica */
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
	background-color: hsl(233, 47%, 7%);
	/* border-radius: 7px; "Já olhou pra alguém e pensou 'o que se passa na cabeça dela ?'". Nunca tinha visto alguem colocar border-radius no body kkkkkkkk. Desculpa mas dessa ru ri kkkkkk */
}

main {
	background-color: hsl(244, 38%, 16%);
	border-radius: 7px 0 0 7px;

	/* Flex nesse caso facilita sua vida */
	display: flex;
	width: 80vw;
}

#content {
	display: flex;
	flex-direction: column;

	/* Padding resolve tudo */
	padding: 6%;

	font-size: 16px;
}

h1 {
	margin-bottom: 0.8em;
	text-align: left;
	color: #fff;
	font-size: 42px;
	font-weight: bold;
}
h1 > span {
	color: hsl(277, 64%, 61%);
}

.description {
	color: hsla(0, 0%, 100%, 0.6);
}

.stats {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: 3rem;
	margin-top: 3rem;
}

.stats div > p {
	font-weight: bold;
	font-size: 24px;
}

.stats div > span {
	color: hsla(0, 0%, 100%, 0.5);
	font-family: 'Lexend Deca';
	text-transform: uppercase;
	line-height: 2;
	font-size: 14px;
}
#image {
	background-image: url('foto.PNG');
	background-size: cover;
	border-radius: 0 7px 5px 0;

	min-width: 45%;
}
